/* Map Component */
.svy-wrapper > googlemaps-svy-g-maps {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.svy-wrapper > .svy-google-maps
{
    position : absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
}