.tabpanel-border
{
	border: 1px solid #eee;
}

.font-icon
{
	font-size: 16px;
	text-align: center;
	color: #aaa;
	transition: .25s;
}
.font-icon.large
{
	font-size: 24px;
}
.font-icon:HOVER
{
	color: #e77509;
}

/*
.svy-label
{
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11pt;
}


.svy-label.banner-orange
{
	border: solid #ff8000;
	border-width: 0px 0px 2px 0px;
}

.svy-label.banner
{
	font-size: 30px;
	font-style: oblique;
	font-stretch: wider;
}


.nav-tabs
{
	border-bottom: 2px solid #fc8f00;
}
.nav-tabs > li
{
	margin-bottom: -2px;
}

.nav-tabs > li.active > a
{
	color: #444;
	font-size: 11pt;
	font-weight: bold;
	border-color: #fc8f00;
	border-bottom-color: #fff;
	border-bottom-width: 2px;
}
.nav-tabs > li.active > a:hover{
	border-color: #fc8f00;
	border-bottom-color: #fff;
	border-bottom-width: 2px;
}
.nav-tabs > li.active > a:focus{
	border-color: #fc8f00;
	border-bottom-color: #fff;
	border-bottom-width: 2px;
}*/