body,html{
	overflow:hidden;	
}

.map-responsive {
   	width: 94vw !important;
   	margin-right:50px;
	position:relative;
	margin:3px;
	/* padding-bottom determines the height of the map */
	padding-bottom:56%;
	border: 3px black solid;
}

/* CSS for Tabless mapView form  */
[ng-style="layout.mapView"] {
  border: 3px black solid;
}

.resp-line {
	width:5000px;
	 top:82px;
	position:absolute;
	border: solid #ff8000;
	border-width: 0px 0px 2px 0px;
}

.title {
	white-space: nowrap;
	position:absolute;
	left:48%;
	top:52px;
	font-size: 17px;
	font-weight:bold;
}


.header {
	height:100px;
}

.logo {
	position:absolute;
	top:-20px;
}

.orange-line {
	width:5000px !important;
	padding : 0px;
	margin: 0px;
	border: solid #ff8000;
	border-width: 0px 0px 2px 0px;
}



.svy-label
{
	Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.body_main
{
	width: 1400px;
    margin-left: auto;
    margin-right: auto;
	background-color: #fff;
}
.svy-label.banner-orange
{
	margin-top: -30px;
	padding-top:0px;
}

.svy-label.banner
{
	font-size: 30px;
	font-style: oblique;
	font-stretch: wider;
}

.svy-field
{
	font-size: 14px;
}
.svy-combobox
{
	font-size: 14px;
}

.ui-grid-row-selected div.ui-grid-cell
{
	background-color: #DEF !important;
	color: #222;
	font-weight: bold;
}